@font-face {
    font-family: TESLA;
    src: url("file:src/main/kotlin/view/fonts/TESLA.ttf");
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 50px;
    -fx-border-width: 3px;
    -fx-border-radius: 50px;
    -fx-pref-width: 400px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 0px 5px;
}

.combobox {
    -fx-padding: 10;
    -fx-pref-width: 500px;
}

.combo-box:hover {
    -fx-cursor: hand;
    -fx-border-color: #CCFFFF;
}


.combo-box .list-cell{
    -fx-background-color: transparent;
    -fx-border-width: 3px;
    -fx-border-radius: 50px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.combo-box .list-view {
    -fx-background-color: #3399CC;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
}

.combo-box .list-view:hover {
    -fx-cursor: hand;
    -fx-background-color: #3090CC;
    -fx-border-width: 3px;
    -fx-border-radius: 20px;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: #3999CC;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}






/*.arrow-button {
    -fx-shape:"M 0 0 L 6 6 L 12 0 L 9 0 L 6 3 L 3 0 Z"; *//* Forme personnalisée de la flèche *//*
    -fx-background-color: white; *//* Couleur d'arrière-plan de la flèche *//*
    -fx-border-color: white; *//* Couleur de la bordure de la flèche *//*
    -fx-padding: 1px;
    -fx-background-insets: 0;
    *//* Autres styles *//*
}*/

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;

}
.combo-box .arrow-button  {
    -fx-background:transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("file:src/main/kotlin/view/assets/arrow.png");
    -fx-shape: "";
    -fx-scale-x: 0.6; /* Mise à l'échelle horizontale */
    -fx-scale-y: 0.6; /* Mise à l'échelle verticale */
}



.setting{
    -fx-text-fill: #FBFBF3;
    -fx-font: 36px TESLA;
}


.txt{
    -fx-text-fill: #FBFBF3;
    -fx-font-size: 24px;
    -fx-font-weight: light;
}
.slider{
    -fx-pref-width: 450px;
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #DCDCDC 0%, white 100%);
    -fx-background-color: #FBFBF3;
    -fx-pref-height: 3px;
}

.slider .thumb {
    -fx-background-color: white;
}
.slider .thumb:hover {
    -fx-cursor: hand;
}


.slider .thumb:pressed {
    -fx-cursor: hand;
    -fx-border-color: grey;
    -fx-border-radius: 50px;
}


.text-field {
   -fx-background-border-width: 2;
   -fx-background-border: gone;
   -fx-background-radius: 25;
   -fx-background-border: grey;
   -fx-background-color: white;
   -fx-text-fill: black;
   -fx-pref-width: 100px;
   -fx-pref-height: 30px;
    -fx-padding: 10px 20px;
    -fx-font-size: 20px;
    -fx-text-fill: #3A83C2;
}




