@font-face {
    font-family: TESLA;
    src: url("file:src/main/kotlin/view/fonts/TESLA.ttf");
}

.combo-box{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-radius: 50px;
    -fx-pref-width: 200px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.combobox {
    -fx-padding: 10 50 10 50;
    -fx-pref-width: 300px;
    }

.combo-box:hover {
    -fx-cursor: hand;
    -fx-border-color: #CCFFFF;
}


.combo-box .list-cell{
    -fx-background-color: transparent;
    -fx-border-width: 5px;
    -fx-border-radius: 50px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.combo-box .list-view {
    -fx-background-color: #3399CC;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
}

.combo-box .list-view:hover {
    -fx-cursor: hand;
    -fx-background-color: #3090CC;
    -fx-border-width: 5px;
    -fx-border-radius: 20px;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: #3999CC;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}






/*.arrow-button {
    -fx-shape:"M 0 0 L 6 6 L 12 0 L 9 0 L 6 3 L 3 0 Z"; *//* Forme personnalisée de la flèche *//*
    -fx-background-color: white; *//* Couleur d'arrière-plan de la flèche *//*
    -fx-border-color: white; *//* Couleur de la bordure de la flèche *//*
    -fx-padding: 1px;
    -fx-background-insets: 0;
    *//* Autres styles *//*
}*/

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;

}
.combo-box .arrow-button  {
    -fx-background:transparent;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("file:src/main/kotlin/view/assets/arrow.png");
    -fx-shape: "";
}



.setting{
    -fx-text-fill: #FFFFFF;
    -fx-font: 36px TESLA;
}


.txt{
    -fx-text-fill: #FFFFFF;
}
.slider{
    -fx-pref-width: 300px;
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #DCDCDC 0%, white 100%);

    }

.slider .thumb {
    -fx-background-color: white;
}
.slider .thumb:hover {
    -fx-cursor: hand;
}


.slider .thumb:pressed {
    -fx-cursor: hand;
    -fx-border-color: grey;
    -fx-border-radius: 50px;
}



.text-field{
   -fx-padding: 1,30,1,30;
   -fx-background-border-width: 2;
   -fx-background-border: gone;
   -fx-background-radius: 10;
   -fx-background-border: grey;
   -fx-background-color: white;
   -fx-text-fill: grey;
   -fx-pref-width: 200px;
}




